@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"');
/*@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"');*/

/* body {
    background-image: url("https://github.com/newtoallofthis123/Assets/raw/main/Image/bg3.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin:0
} */

.heading{
    color: black;
    font-family: Cascadia Code,Arial, Helvetica, sans-serif;
}

.subtitle{
    color: black;
    font-family: Cascadia Code,Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    align-items: center;
}

.white {
    background-color:rgba(0, 0, 0, 0.726);
    color: rgb(236, 225, 225);
    padding-left: 120px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 320px;
    margin-right: 320px;
    font-family: 'Original Surfer';

}

.blue {
    background-color:rgba(0, 0, 0, 0.726);
    color: rgb(236, 225, 225);
    padding-left: 120px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 2px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Original Surfer';
}
